#tombol{
	margin-right: 20px;
	margin-top: 20px;
	margin-left: 0px;
	margin-bottom: 20px;
}
#modal-SOP{
	margin-bottom: 15px;
	margin-top: 5px;
}
#caption{
	word-wrap: break-word;
	max-width: 150px;
}